# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: build tutorial
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@25080975331dc4fc8e6f1af55788e00f84f51fff  # v4.0.0
      with:
        working_directory: isc26-EESSI/
        root_file: main.tex
        args: "-output-directory=build -pdf"
        latexmk_shell_escape: true
    - name: Store produce PDFs
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
      with:
        name: EESSI-ISC26-tutorial
        path: isc26-EESSI/build/main.pdf
